:root {
  --primary-text-color: #212121;
  --secondary-text-color: #2196f3;
  --text-color: #757575;
  --white: #ffffff;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
}

/* Hero */
.hero {
  background: #2f303a;
}

.hero h1 {
  color: var(--white);
}

.order {
  color: var(--white);
}

/* Преимущества */
.h-hiden {
  visibility: hidden;
}

.advantages {
  color: #212121;
}

.advantages p {
  color: var(--text-color);
}

/* Наша команда */
.team {
  background: #f5f4fa;
}

.team p {
  color: var(--text-color);
}
