.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 93px;
  color: #000000;
  font-size: 26px;
  font-family: Raleway, serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo--color {
  color: #2196f3;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:focus, .nav-list__link:hover {
  color: #2196f3;
}

.nav__link--active {
  position: relative;
  color: #2196f3;
}

.nav__link--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts {
  margin-left: auto;
  font-style: normal;
}

.contacts__link {
  color: #212121;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:not(:last-child) {
  margin-right: 30px;
}

.contacts__link:focus, .contacts__link:hover {
  color: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:focus .contacts__icon,
.contacts__link:hover .contacts__icon {
  fill: #2196f3;
}

footer {
  background: #2f303a;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo {
  margin-right: 93px;
  font-size: 26px;
  font-family: Raleway, serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.footer__logo {
  color: #ffffff;
}

.footer__address {
  margin-right: 70px;
}

.address {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.address__link {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-social__title {
  color: #ffffff;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0px;
}

.footer-social__link {
  display: block;
  padding-top: 12px;
  text-align: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:focus, .footer-social__link:hover {
  background-color: #2196f3;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-mailing {
  padding-left: 94px;
}

.footer-mailing__title {
  margin: 0;
  margin-bottom: 20px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-mailing__field {
  margin: 0;
  padding: 15px 16px;
  width: 300px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  color: #ffffff;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mailing__field:hover, .footer-mailing__field:focus {
  border-color: #2196f3;
  color: #2196f3;
  outline: none;
}

.footer-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover, .footer-button:focus {
  background-color: #188ce8;
}

.footer-button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 8px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  min-height: 580px;
  min-width: 530px;
  background-color: #ffffff;
  fill: transparent;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  fill: black;
  text-align: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:focus, .modal__close:hover {
  fill: var(--accent-color);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.form__title {
  font-size: 20px;
  line-height: 23px;
}

.form__button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button:focus, .form__button:hover {
  background-color: #188ce8;
}

.group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.form__field {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 0;
  border: none;
}

.form__label {
  color: #757575;
  margin-bottom: 4px;
}

.form__input {
  height: 40px;
  width: 100%;
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__input:focus {
  border-color: #2196f3;
  color: #2196f3;
  outline: none;
}

.form__icon {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 12px;
  /* transform: translateY(-50%); */
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  color: #2196f3;
}

.form__comments {
  margin-bottom: 25px;
}

.form__textarea {
  width: 100%;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:hover, .form__textarea:focus {
  border-color: #2196f3;
  color: #2196f3;
  outline: none;
}

.policy {
  margin-bottom: 30px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.policy__chekbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  background-image: url("../image/icon/checked.svg");
  background-size: contain;
  background-origin: border-box;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__box {
  margin-right: 9px;
}

.policy__box:checked + .policy__chekbox {
  border-color: #2196f3;
  background-color: #2196f3;
}

.policy__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.hero {
  padding-top: 200px;
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-image: url(../image/studio/bg-hero.jpg);
  background-color: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
}

.hero__title {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  padding-top: 0;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  background-image: none;
  background-color: transparent;
  height: 120px;
}

.hero__button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  background-image: none;
  height: 50px;
  min-width: 200px;
  background: #2196f3;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:focus, .hero__button:hover {
  background-color: #188ce8;
}

.section__advanteges {
  padding-top: 89px;
  padding-bottom: 94px;
  color: #212121;
  font-size: 14px;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__item-icon {
  height: 120px;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 25px;
  background-color: #f5f4fa;
}

.advantages__item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.14;
}

.advantages__item-description {
  margin: 0;
  color: #757575;
  line-height: 1.71;
}

.our-doing {
  padding-bottom: 94px;
}

.our-doing__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-doing__item:not(:last-child) {
  margin-right: 30px;
}

.our-doing__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

.team__header {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

.team {
  background: #f5f4fa;
  font-size: 16px;
  line-height: 1.19;
  padding: 94px 0;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-list__item {
  background-color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__image {
  width: calc((100% - 90) / 4);
  width: 262.5px;
  margin-top: 0;
  margin-bottom: 30px;
}

.team-list__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list__pos {
  margin-top: 0;
  margin-bottom: 16px;
  color: #757575;
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0px;
  margin-bottom: 30px;
}

.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__icon {
  width: 44px;
  height: 44px;
  padding-top: 12px;
  text-align: center;
  fill: #afb1b8;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__icon:focus, .team-social__icon:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.clients {
  padding-top: 94px;
}

.clients__title {
  text-align: center;
  margin-bottom: 50px;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 94px;
}

.client-list__item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  text-align: center;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__item:focus, .client-list__item:hover {
  border-color: #2196f3;
  fill: #2196f3;
}

.client-list__item:not(:last-child) {
  margin-right: 30px;
}

.client-list__icon {
  padding-top: 16px;
  fill: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__item:focus .client-list__icon,
.client-list__item:hover .client-list__icon {
  border-color: #2196f3;
  fill: #2196f3;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 94px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__btn {
  margin-top: 0;
  margin-bottom: 50px;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  background-color: #f5f4fa;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__btn:focus, .filter-list__btn:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.examples {
  padding-bottom: 94px;
}

.example-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-bottom: -15px;
}

.example-list__item {
  width: calc((100% - 2 * 30px) / 3);
  border: 1px solid #eeeeee;
  margin-right: 15px;
  margin-bottom: 15px;
}

.example-list__item:focus, .example-list__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-list__item img {
  width: 100%;
}

.examples__title {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.examples__description {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 24px;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: absolute;
  top: 63px;
  left: 24px;
  right: 24px;
  margin: 0;
  padding: 0;
  opacity: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__text {
  margin: 0;
}

.example-list__item:focus ::before,
.example-list__item:hover ::before,
.example-list__item:focus .overlay,
.example-list__item:hover .overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */