.container {
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .main-nav {
    height: 80px;
  }
}

.logo {
  color: #000000;
  font-family: Raleway, serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  text-decoration: none;
}

.logo--color {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media sreen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.menu {
  display: none;
  width: 100%;
}

@media (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-button {
  display: none;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:focus, .nav-list__link:hover {
  color: #2196f3;
}

.nav__link--active {
  position: relative;
  color: #2196f3;
}

.nav__link--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts {
  margin-left: auto;
  margin-right: 0;
  font-style: normal;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contacts__link {
  color: #212121;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  height: 18px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
  }
  .contacts__link:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
  }
  .contacts__link:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.contacts__link:focus, .contacts__link:hover {
  color: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:focus .contacts__icon,
.contacts__link:hover .contacts__icon {
  fill: #2196f3;
}

footer {
  background: #2f303a;
}

.footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 210px;
    padding-bottom: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__logo {
  color: #ffffff;
  display: block;
  width: 130px;
  margin-bottom: 20px;
}

.address {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

@media screen and (min-width: 480px) {
  .address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .address {
    margin-right: 85px;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: start;
    width: 230px;
  }
}

.address__link {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-social {
  margin-bottom: 60px;
}

.footer-social__title {
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.15;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0px;
}

.footer-social__link {
  display: block;
  padding-top: 12px;
  text-align: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:focus, .footer-social__link:hover {
  background-color: #2196f3;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-mailing {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 1200px) {
  .footer-mailing {
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-mailing__title {
  margin: 0;
  margin-bottom: 20px;
  color: #ffffff;
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-mailing__field {
  margin: 0;
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  color: #ffffff;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer-mailing__field {
    width: 300px;
  }
}

.footer-mailing__field:hover, .footer-mailing__field:focus {
  border-color: #2196f3;
  color: #2196f3;
  outline: none;
}

.footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  border: none;
  padding: 0;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover, .footer-button:focus {
  background-color: #188ce8;
}

.footer-button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 8px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 450px;
  background-color: #ffffff;
  fill: transparent;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  fill: black;
  text-align: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:focus, .modal__close:hover {
  fill: var(--accent-color);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px;
}

.form__title {
  font-size: 20px;
  margin: 0;
  text-align: center;
  width: 370px;
  line-height: 1.5;
}

.form__button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button:focus, .form__button:hover {
  background-color: #188ce8;
}

.group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.form__field {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 0;
  border: none;
}

.form__label {
  color: #757575;
  margin-bottom: 4px;
}

.form__input {
  height: 40px;
  width: 100%;
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__input:focus {
  border-color: #2196f3;
  color: #2196f3;
  outline: none;
}

.form__icon {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 12px;
  /* transform: translateY(-50%); */
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  color: #2196f3;
}

.form__comments {
  margin-bottom: 25px;
}

.form__textarea {
  width: 100%;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:hover, .form__textarea:focus {
  border-color: #2196f3;
  color: #2196f3;
  outline: none;
}

.policy {
  margin-bottom: 30px;
  padding-left: 10px;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.policy__chekbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  background-image: url("../image/icon/checked.svg");
  background-size: contain;
  background-origin: border-box;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__box {
  margin-right: 9px;
}

.policy__box:checked + .policy__chekbox {
  border-color: #2196f3;
  background-color: #2196f3;
}

.policy__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.hero {
  padding-top: 120px;
  letter-spacing: 0.06em;
  text-align: center;
  height: 400px;
  background-image: url(../image/studio/bg-hero.jpg);
  background-color: rgba(47, 48, 58, 0.4);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    width: 100%;
    height: 600px;
  }
}

.hero__title {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 360px;
  padding-top: 0;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  background-image: none;
  background-color: transparent;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  background-image: none;
  height: 50px;
  min-width: 200px;
  background: #2196f3;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:focus, .hero__button:hover {
  background-color: #188ce8;
}

.section__advanteges {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #212121;
  font-size: 14px;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .advantages {
    margin: -15px;
  }
}

@media screen and (min-width: 480px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 8 * 15px) / 4);
        flex-basis: calc((100% - 8 * 15px) / 4);
  }
}

.advantages__item-icon {
  height: 120px;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 25px;
  background-color: #f5f4fa;
}

.advantages__item-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (min-width: 768px) {
  .advantages__item-title {
    text-align: left;
  }
}

.advantages__item-description {
  margin: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .our-doing {
    display: none;
  }
}

.our-doing__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-doing__item:not(:last-child) {
  margin-right: 30px;
}

.our-doing__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

.team {
  background: #f5f4fa;
  font-size: 16px;
  line-height: 1.19;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__header {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team-list {
    margin: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-list__item {
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 8 * 15px) / 4);
        flex-basis: calc((100% - 8 * 15px) / 4);
  }
}

.team-list__image {
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
}

.team-list__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list__pos {
  margin-top: 0;
  margin-bottom: 20px;
  color: #757575;
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0px;
}

.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__icon {
  width: 44px;
  height: 44px;
  padding-top: 12px;
  text-align: center;
  fill: #afb1b8;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__icon:focus, .team-social__icon:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__title {
  text-align: center;
  margin-bottom: 30px;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}

.client-list__item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin: 15px;
  height: 92px;
  text-align: center;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .client-list__item {
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 780px) {
  .client-list__item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client-list__item {
    width: calc((100% - 12 * 15px) / 6);
  }
}

.client-list__item:focus, .client-list__item:hover {
  border-color: #2196f3;
  fill: #2196f3;
}

.client-list__icon {
  padding-top: 16px;
  fill: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__item:focus .client-list__icon,
.client-list__item:hover .client-list__icon {
  border-color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 480px) {
  body {
    width: 480px;
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  body {
    width: 768px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    width: 100%;
    max-width: 1600px;
  }
}
/*# sourceMappingURL=main.css.map */