:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto;
}

a {
  text-decoration: none;
}

/* Header */
.logo-link {
  color: #000000;
  font-size: 26px;
}

.logo {
  color: var(--accent-color);
}

.nav__link {
  color: var(--primary-text-color);
}

.nav__link:hover {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

/* Footer */
footer {
  background: #2f303a;
  font-size: 14px;
}

.foot-logo-link {
  color: #ffffff;
}

.address {
  color: #ffffff;
  font-style: normal;
}

.foot__nav {
  color: var(--footer-adress-color);
}
