body {
  font-family: Roboto;
}

a {
  text-decoration: none;
}

/* Header */
.logo-link {
  color: #000000;
  font-size: 26px;
}

.logo {
  color: #2196f3;
}

.nav__link {
  color: #212121;
}

.nav__link:hover {
  color: #2196f3;
}

.active {
  color: #2196f3;
}

/* Hero */
.hero {
  background: #2f303a;
}

.hero h1 {
  color: #ffffff;
}

.order {
  color: #ffffff;
}

/* Преимущества */
.h-hiden {
  visibility: hidden;
}

.advantages {
  color: #212121;
}

.advantages p {
  color: #757575;
}

/* Наша команда */
.team {
  background: #f5f4fa;
}

.team p {
  color: #757575;
}

/* Footer */

footer {
  background: #2f303a;
  font-size: 14px;
}

.foot-logo-link {
  color: #ffffff;
}

.address {
  color: #ffffff;
  font-style: normal;
}

.foot__nav {
  color: rgba(255, 255, 255, 0.6);
}
