:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --text-color: #757575;
  --white: #ffffff;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --background-primary-color: #f5f4fa;
  --background-sec-color: #e5e5e5;
  --background-footer: #2f303a;
}

/* 
  Все используемые шрифты: 
    -Roboto (900, 700, 500, 400)
    -Raleway (700)
*/

body {
  background-color: var(--white);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Utilities */

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Header */
.main-nav {
  display: flex;
  align-items: center;
}

.ul-nav {
  display: flex;
}

.ul-nav .item + .item {
  margin-left: 50px;
}

.item > .nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo-link {
  margin-right: 93px;

  color: #000000;
  font-size: 26px;
  font-family: Raleway, serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo {
  color: var(--accent-color);
}

.nav__link {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.nav__link:focus,
.nav__link:hover {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

.contacts {
  margin-left: auto;

  font-style: normal;
}

/* Footer */
footer {
  background: var(--background-footer);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-link.foot {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

.address {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.foot__nav {
  margin-top: 9px;
  color: var(--footer-adress-color);
  text-decoration: none;
}

/* index */
/* Hero */
.hero {
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  background-color: var(--background-footer);
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-image: url(../image/studio/bg-hero.jpg);
  background-repeat: no-repeat;
}

.hero.title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 0;
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  background-image: none;
  background-color: transparent;

  height: 120px;
}

.hero.order {
  display: inline-block;

  color: var(--white);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
  background-image: none;

  height: 50px;
  min-width: 200px;
  background: var(--accent-color);
  text-align: center;
  border-radius: 4px;
  padding: 10px 32px;
}

/* Преимущества */
.advantages {
  padding-top: 89px;
  padding-bottom: 94px;
  color: var(--primary-text-color);
  font-size: 14px;
}

.advantages-title {
  margin: 0;
  /* visibility: hidden; */
}

.advantages-list {
  display: flex;
}

.advantages-list .item + .item {
  margin-left: 30px;
}

.advantages-list .item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-primary-color);
}

.advantages-list .icon-antena::before {
  background-image: url("../image/studio/antenna.svg");
}

.advantages-list .icon-clock::before {
  background-image: url("../image/studio/clock.svg");
}

.advantages-list .icon-diagrama::before {
  background-image: url("../image/studio/diagram.svg");
}

.advantages-list .icon-astronaut::before {
  background-image: url("../image/studio/astronaut.svg");
}

.advantages-list h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.14;
}

.advantages p {
  margin: 0;
  color: var(--text-color);
  line-height: 1.71;
}

.our-doing {
  padding-bottom: 94px;
}

.doing-image {
  display: flex;
}

.doing-image .item + .item {
  margin-left: 30px;
}

.team .our-team,
.our-doing-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

/* Наша команда */
.team {
  background: #f5f4fa;
  font-size: 16px;
  line-height: 1.19;
  padding: 94px 0;
}

.team-list {
  display: flex;
}

.team-list .item {
  background-color: var(--white);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item img {
  width: calc((100% - 90) / 4);
  width: 262.5px;
}

.team-list > .item + .item {
  margin-left: 30px;
}

.team img {
  margin-top: 0;
  margin-bottom: 30px;
}

.team h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team p {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--text-color);
}

.team-social {
  display: flex;
  font-size: 15px;
}

/* Постоянные Клиенты */
.clients {
  padding-top: 94px;
}

.clients-title {
  text-align: center;
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
}

.client-list .item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  padding-top: 24px;
  text-align: center;
}

.client-list .item + .item {
  margin-left: 30px;
}

/* Portfoilo */
/* Filer */

.filter {
  display: flex;
  justify-content: center;
}

.filter .item + .item {
  margin-left: 8px;
}

.filter button {
  margin-top: 0;
  margin-bottom: 50px;
  padding: 6px 22px;
  background-color: var(--background-primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  text-align: center;
  border: 0;
  border-radius: 4px;
}

.filter button:focus,
.filter button:hover {
  background-color: var(--accent-color);
  color: var(--white);
}

.examples {
  padding-bottom: 94px;
}

.example-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-bottom: -15px;
}

.example-list .item {
  width: calc((100% - 2 * 30px) / 3);
  border: 1px solid #eeeeee;
  margin-right: 15px;
  margin-bottom: 15px;
}

.example-list .item img {
  width: 100%;
  margin-bottom: 20px;
}

.examples h2 {
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 24px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
}

.examples p {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 24px;

  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}
