.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  opacity: 1;
  transition: opacity 250ms $timing-function;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 8px;
  transform: translate(-50%, -50%) scale(1);

  min-height: 580px;
  min-width: 530px;

  background-color: #ffffff;

  fill: transparent;

  transition: transform 250ms $timing-function;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  fill: black;
  text-align: center;
  transition: fill 250ms $timing-function;

  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}

@import "./modal-form";
