.section__advanteges {
  padding-top: 60px;
  padding-bottom: 60px;
  color: $primary-text-color;
  font-size: 14px;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    margin: -15px;
  }
}

.advantages__item {
  @media screen and (min-width: 480px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 8 * 15px) / 4);
  }
}

.advantages__item-icon {
  height: 120px;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 25px;
  background-color: $background-primary-color;
}

.advantages__item-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.advantages__item-description {
  margin: 0;
  color: $text-color;
  font-size: 14px;
  line-height: 1.71;
}
