.our-doing {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  padding-bottom: 94px;
}

.our-doing__images {
  display: flex;
  justify-content: space-evenly;
}

.our-doing__item:not(:last-child) {
  margin-right: 30px;
}

.our-doing__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

.our-doing__item {
  position: relative;
}

.doing-item__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  color: $white;
}
