.logo {
  margin-right: 93px;

  font-size: 26px;
  font-family: Raleway, serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  &--color {
    color: $accent-color;
  }
}
