$primary-text-color: #212121;
$accent-color: #2196f3;
$text-color: #757575;
$white: #ffffff;
$footer-adress-color: rgba(255, 255, 255, 0.6);
$background-primary-color: #f5f4fa;
$background-sec-color: #e5e5e5;
$background-footer: #2f303a;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
