footer {
  background: $background-footer;
}

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo {
  margin-right: 93px;

  font-size: 26px;
  font-family: Raleway, serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.footer__logo {
  color: #ffffff;
}

.footer__address {
  margin-right: 70px;
}

.address {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  &__link {
    margin-top: 9px;
    color: $footer-adress-color;
    text-decoration: none;
  }
}

.footer-social__title {
  color: $white;
}

.footer-social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
}

.footer-social__link {
  display: block;
  padding-top: 12px;
  text-align: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  fill: $white;

  transition: background-color 250ms $timing-function;

  &:focus,
  &:hover {
    background-color: $accent-color;
  }
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-mailing {
  padding-left: 94px;

  &__title {
    margin: 0;
    margin-bottom: 20px;
    color: $white;
    display: flex;
    align-items: center;
  }
}

.footer-mailing__field {
  margin: 0;
  padding: 15px 16px;
  width: 300px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  background-color: transparent;
  color: $white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms $timing-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
    outline: none;
  }
}

.footer-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  background-color: $accent-color;
  color: $white;
  cursor: pointer;
  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.footer-button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
