.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;

  color: #000000;
  font-size: 26px;
  font-family: Raleway, serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  &--color {
    color: $accent-color;
  }
}

.nav-list {
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $primary-text-color;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: color 250ms $timing-function;

  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.nav__link--active {
  position: relative;
  color: $accent-color;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $accent-color;
  }
}

.contacts {
  margin-left: auto;
  font-style: normal;
}

.contacts__link {
  color: $primary-text-color;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;

  transition: color 250ms $timing-function;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms $timing-function;

  .contacts__link:focus &,
  .contacts__link:hover & {
    fill: $accent-color;
  }
}
