.our-doing {
  padding-bottom: 94px;
}

.our-doing__images {
  display: flex;
}

.our-doing__item:not(:last-child) {
  margin-right: 30px;
}

.our-doing__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}
