.section__advanteges {
  padding-top: 89px;
  padding-bottom: 94px;
  color: $primary-text-color;
  font-size: 14px;
}

.advantages {
  display: flex;
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__item-icon {
  height: 120px;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 25px;
  background-color: $background-primary-color;
}

.advantages__item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.14;
}

.advantages__item-description {
  margin: 0;
  color: $text-color;
  line-height: 1.71;
}
