.team__header {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

.team {
  background: $background-primary-color;
  font-size: 16px;
  line-height: 1.19;
  padding: 94px 0;
}

.team-list {
  display: flex;
}

.team-list__item {
  background-color: $white;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list__image {
  width: calc((100% - 90) / 4);
  width: 262.5px;
  margin-top: 0;
  margin-bottom: 30px;
}

.team-list__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list__pos {
  margin-top: 0;
  margin-bottom: 16px;
  color: $text-color;
}

.team-social {
  display: flex;
  justify-content: center;
  font-size: 0px;
  margin-bottom: 30px;

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.team-social__icon {
  width: 44px;
  height: 44px;
  padding-top: 12px;
  text-align: center;
  fill: #afb1b8;
  border-radius: 50%;

  transition: background-color 250ms $timing-function, fill 250ms $timing-function;

  &:focus,
  &:hover {
    background-color: $accent-color;
    fill: $white;
  }
}
