.hero {
  padding-top: 200px;
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-image: url(../image/studio/bg-hero.jpg);
  background-color: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
}

.hero__title {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  padding-top: 0;
  color: $white;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  background-image: none;
  background-color: transparent;

  height: 120px;
}

.hero__button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  background-image: none;

  height: 50px;
  min-width: 200px;
  background: $accent-color;
  text-align: center;

  cursor: pointer;
  color: $white;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
  transition: background-color 250ms $timing-function;

  &:focus,
  &:hover {
    background-color: #188ce8;
  }
}
